<% unless @camps.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>S</h5>
    <ul class="side-nav">
      <% @camps.each do |camp| %>
        <li><%= link_to camp.name, camp_path(camp) %></li>
      <% end %>
    </ul>
  </div>
<% end %>