
<table class="table">
  <tr>
    <th>Name</th>
    <th>Rating</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td align="left"><%= link_to student.name, student_path(student) %></td>
    <td align="center"><%= student.rating.zero? ? "Unrated" : student.rating %></td>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate camp_registrations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>