<h1><em>A&M Chess Camp</em></h1>

<p>	
	We know how important your kiddos are to you.  We know 
	how much you love them and how they are the most important part of 
	your family.  We live in the "Steel City" and the people here are tough. We also know your kiddos desire to be tough competitors as well. That's why Alex, Mark, and the instructors they hire are committed to giving you and your children only the best instrustion at 
	the most affordable prices.  Come visit our adminsistrative command center 
	at 5000 Forbes Avenue (Porter 224A) and see how we can help your child hop accross the black and white squares to success.
	<%= image_tag 'Alex-Mark-Dad-Natl_2005.jpg', class: "left" %>
</p>