<h1>Contact A&M</h1>

<p>Here is all you need to know to get a hold of us!</p>

<table cellpadding="3">
  <tr>
    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
    <td>Theophilus Onime</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("tonime@andrew.cmu.edu", "Theophilus", encode: "javascript") %> 
    </td>
  </tr>
</table>

<p class="note"><br>I am a student at Carnegie Mellon University under the professorship of Larry Heimann 
  <br><br><em>Beware... "Prof.H" is half-Klingon.</em></p>