<h1>Welcome to A&amp;M Chess Camp!</h1>

<p><%= image_tag 'boys_playing_at_home.JPG' %> Enter into the world of A&amp;M Chess Camp. Brought to you by Alex and Mark Heimann. (As you can see, they have been training to serve your children their their whole lives).
</p>