<h1>The A&amp;M Privacy Policy</h1>

<p>Our privacy policy is simple and does not require a lawyer 
  to understand it.  
  We will never sell any
  information on you or your children.  We will keep your 
  address, phone, email, age, and name of child locked up in our repository. We believe your information 
  is for us unless you go out of your way to let us know you want it shared elsewhere.

  <br><br>
  